body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    letter-spacing: 7px;
    color:#e98208;
}
.text-center{
    margin-top: 5%;
}